/* Временная разметка */

.tItem {
  background: rgba(40, 40, 40, 0.75);
}
/* swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
/* Big parts working */

* {
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
  background: black;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  overflow: hidden;
}
body {
  height: 100%;
  display: flex;
  flex-direction: row;
}

/* Parts working */

#leftAs {
  background: #161616;
  display: flex;
  flex-direction: column;
  flex-basis: 15%;
}
#rightAs {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
}
main {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Inner items working */

/* Left aside */
#leftAs header {
  width: 100%;
  flex-grow: 1;
  position: relative;
}
#navigation {
  flex-grow: 4;
  display: flex;
  flex-direction: column;
}
#emptyNav {
  flex-grow: 6;
}
.asideBlock {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  cursor: pointer;
}
.asideBlock svg {
  margin-left: 40px;
  margin-right: 27px;
}
.asideBlock:hover {
  background: #3b3b3b;
}
.blockTXT {
  display: flex;
  align-content: end;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 22px;
}
#emptyLeft {
  flex-grow: 2.5;
}
#settings {
  flex-grow: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#logo {
  width: 100%;
  position: absolute;
  display: flex;
  left: 50%;
  bottom: 70%;
  transform: translate(-50%, 50%);
  justify-content: space-around;
}
#logoT {
  display: flex;
}
#bigLet {
  color: #e100f4;
  font-weight: 700;
  font-size: 50px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* padding-right: 2px; */
  display: flex;
  flex-wrap: wrap;
  align-content: end;
  font-weight: 700;
  /* font-size: 25px; */
}
#smallLet {
  display: flex;
  flex-wrap: wrap;
  align-content: end;
  font-weight: 700;
  font-size: 25px;
  padding-bottom: 5px;
}
.current {
  background: #e100f4;
  cursor: default;
}
.current:hover {
  background: #e100f4;
}

/* Main */
main header {
  flex-basis: 15%;
  flex-wrap: wrap;
  align-content: center;
}
#mid {
  flex-basis: 85%;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}
#scrollable {
  max-height: 100%;
  min-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 90%;
  align-self: center;
  padding: 0px;
}
.search {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
  position: relative;
}
.search svg {
  cursor: pointer;
}
#Search {
  background: #161616;
  border-radius: 20px;
  flex-basis: 80%;
  height: 48px;
  padding-left: 90px;
  color: white;
}
#SRCH {
  position: absolute;
  left: 6.14%;
  right: 9.38%;
  top: 50%;
  transform: translate(50%, -50%);
}
#Bell {
  margin-top: 10px;
}
.swiper-slide {
  background-color: gray;
  /* margin-right: 10px; */
  height: 300px;
  /* flex: 0 0 90%; */
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.swiper-slide img {
  width: 100%;
}
.swiper {
  height: 40%;
  display: flex;
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
}
.swiper svg {
  cursor: pointer;
}
.slider_pause {
  position: absolute;
  border: 2px solid #ffffff;
  border-radius: 20px;
  min-width: 256px;
  height: 72px;
  right: 40px;
  bottom: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider_pause svg {
  cursor: pointer;
  margin-left: 10px;
}
.slider_title span {
  display: block;
  margin: 0px;
}

.slider_artist {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}
.slider_track {
  font-weight: 700;
  font-size: 24px;
}
.triItems {
  height: 35%;
  display: flex;
  flex-direction: column;
  margin-top: 55px;
}
.triItems span {
  flex-basis: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 24px;
}
.items {
  height: 300px;
  display: flex;
  justify-content: space-between;
}
.tItem {
  display: flex;
  justify-content: center;
  height: 100%;
  border-radius: 20px;
  width: 238px;
  overflow: hidden;
  position: relative;
}
.tItem .cover {
  position: absolute;
  top: -50px;
  left: -50px;
  width: 0;
  height: 0;
  background-color: rgba(225, 0, 244, 0.4);
  transition: all 0.5s linear;
  border-radius: 50%;
}
.tItem:hover svg {
  opacity: 1;
  transition: all 0.3s linear;
}

.tItem:hover .cover {
  transition: all 0.3s linear;

  width: 800px;
  height: 800px;
}

.tItem img {
  position: absolute;
  height: 100%;
  pointer-events: none;
}
.tItem svg {
  opacity: 0;
  transition: all 0.3s linear;
  position: absolute;
  top: 70%;
  left: 70%;
  z-index: 1;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
}
/* Scroll styles */

#scrollable::-webkit-scrollbar {
  width: 3px;
  margin-left: 2px;
}
#scrollable::-webkit-scrollbar-thumb {
  background: #161616;
  border-radius: 20px;
  width: 1px;
}

/* Right Aside */
#rightAs header {
  position: relative;
  flex-grow: 0.7;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
#asidemid {
  flex-grow: 4;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}
#User {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
}
#UserName {
  font-weight: 700;
  font-size: 26px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-right: 20px;
}
#User img {
  border-radius: 50%;
  border-style: solid;
  border-color: #e100f4;
}
#recently {
  background: #161616;
  border-radius: 20px;
  width: 74%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#recentlyhead {
  width: 100%;
  display: flex;
  justify-content: center;
}
#recentlyhead span,
#nowhead span {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
.recently {
  height: 15%;
  background: #1e1e1e;
}
#now {
  height: 35%;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  border-radius: 20px;
  max-width: 100%;
}
#nowhead {
  display: flex;
  justify-content: center;
  flex-grow: 0.1;
}
#nowbody {
  background: #161616;
  flex-grow: 1;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  max-width: 100%;
  display: flex;
  position: relative;
}
#nowplayingimage {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}
#nowplayingimage img {
  position: absolute;
  height: 100%;
}
#controlpanel {
  position: absolute;
  background: rgba(40, 40, 40, 0.75);
  width: 90%;
  height: 85%;
  border-radius: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
#title span {
  font-weight: 700;
  font-size: 31px;
  line-height: 38px;
  color: #e100f4;
}
#title {
  align-self: center;
  font-weight: 700;
  font-size: 31px;
}
#artist {
  align-self: center;
  font-weight: 700;
  font-size: 18px;
  width: 80%;
  text-align: center;
  position: absolute;
  top: 20%;
}
#emptycontrols {
  width: 32px;
  cursor: default;
}
#controls {
  display: flex;
  align-content: end;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  justify-self: end;
  position: absolute;
  bottom: 5%;
  right: 3%;
}
.Cbutton {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  cursor: pointer;
}
